@using MVCCommercialAutomation.Models.Classes
@model List<CargoTracking>
@{
    ViewBag.Title = "CargoTracking";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <br />  
<table class="table table-striped">
    <tr>
        <th>Açıklama</th>
        <th>Tarih</th>
    </tr>
    @foreach(var c in Model)
    {
<tr>
    <td>@c.Description</td>
    <td>@c.Date</td>
</tr>
    }
</table>
