@model MVCCommercialAutomation.Models.Classes.Department
@{
        ViewBag.Title = "DepartmentAdd";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Departman Ekle</h2>
<br />
<form method="post" class="form-group">
    @Html.LabelFor(x => x.DepartmentName)

    @Html.TextBoxFor(x => x.DepartmentName, new
    {
    @class = "form-control"
    })
    <br />
    <button class="btn btn-info">Kaydet</button>
    
</form>
